*.csv
*.xlsx
*/img
venv
.env
*.out
*.o
*.a
*.json
*.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets
.history/
*.vsix
build
liblab_02_lib.a
settings.json
.vscode
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
libbox_cap.a
cmake_install.cmake
install_manifest.txt
compile_commands.json
_deps